.signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }

.form-title {
        text-align: center; } 

@media screen and (max-width: 400px) {
      .social-login {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column; }
    
.social-label {
        margin-right: 0px;
        margin-bottom: 10px; } }


.signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2; }

.signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }

.social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

.form-button {
    text-align: center; }


.signin-image {
        margin-left: 110px;
        margin-right: 20px;
        margin-top: 10px; }
        
@media screen and (max-width: 1200px) {
        .container {
          width: calc( 100% - 30px);
          max-width: 100%; } }
@media screen and (min-width: 1024px) {
        .container {
          max-width: 1200px; } }
